.title {
  background-color: cornflowerblue;
  width: 100%;
  text-align:  center;
}

h1 {
  margin: 10px;
}

.info {
  padding-top: 10px;
  background-color: #f9f9f9;
  height: 700px;
  text-align: center;
}

.col-space {
  background-color: cornsilk;
  height: 700px;

}

.data {
  padding: 10px 0 0 10px;
  background-color: cornsilk;
  height: 700px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-content: space-between;
}

.row-space {
  height: 100px;
}

.infoWeath {
  background-color: mediumaquamarine;
  padding: 20px;
}